#SetEnv APPLICATION_ENV production
SetEnv APPLICATION_ENV development
SetEnv APPLICATION_PATH /var/www/prosym/hidden/51/regist_attend/
SetEnv BASE_URI /prosym/51/regist_attend/

RewriteEngine On
RewriteBase /prosym/51/regist_attend/
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

