<header>
  <nav aria-label="Top Menu">
    <a href="{{ "/" | relative_url }}"><img width="55" height="46" src="{{ "/assets/images/mark2.gif" | relative_url }}" alt="[PS]"/></a>
    <h1><a href="{{ "/{{ page.prosym_number }}/" | relative_url }}">第{{ page.prosym_number }}回 プログラミング・シンポジウム</a></h1>
    <ul class="menu">
      <li><a href="{{ "/cfp.html" | relative_url }}">発表する</a></li>
      <li><a href="{{ "/cfa.html" | relative_url }}">参加する</a></li>
      <li><a href="{{ "/program.html" | relative_url }}">プログラム</a></li>
      <li><a href="{{ "/sponsor.html" | relative_url }}">スポンサー</a></li>
    </ul>
  </nav>
</header>
