@charset "utf-8";

body {
	color : black;
	background-color : #ccffcc;
}

p {
	margin : 2em;
	text-indent : 1em;
	line-height : 1.2em;
}

p.right {
	margin : 0em;
	text-align : right;
}

dl.presentation {
	text-align : left; 
	text-indent : 1em;
}

dl.participation {
	margin-top : 1em;
	margin-left : 1em;
}

dt.participation {
	margin-top : 1em;
	margin-bottom : 0.5em;
}

li.em {
	margin-top : 1em;
	color : red;
}

dd.em {
	color : red;
}

/*<hx></hx>タグの飾り付け設定 
h1 {
	padding : 0.6em;
	border-width : thin;
	border-color : #3B537D;
	border-style : dashed;
}*/

h2 {
	font-size : 1.5em;
	color : #336699;
	}

h3 {
	font-size : 1.2em;
	padding : 0.6em;
	border-width : thin;
	border-color : #4D6CA3;
	border-bottom-style : solid;
	border-left-style : solid;
}

h4 {
	font-size : 1.0em;
	color : #336699;
}

a:link {
	color : #336699;
}
a:visited {
	color : marron;
}
a:active {
	color : #000066;
}
a:hover {
	color : #00FF00;
}

/*
list-style: none; 
*/
